   html{
     background-color:#98A09F;
   }
   body {
        margin: auto; /* center in viewport */
        width: 960px;
        
    }
    #grid, 
    #monsters , 
    #events,
    #items
    {
      height: 340px;
      width: 340px;
      border: 1px inset tan;
    }
    #monsters{
      background-color: #5E5C95;
    }
    #events{
      background-color: #E32F0B;
    }
    #items {
      background-color: #B9B09D;
      
    }
    .griditem, 
    .mongriditem,
    .evtgriditem,
    .itmgriditem
    {
      border: 1px solid #000;
      height: 32px;
      width: 32px;
      float: left;
    }
    .gridrow, 
    .mongridrow,
    .evtgridrow,
    .itmgridrow
    {
      white-space: nowrap;
      clear: left;
    }
    
    #tiles{
      border: 1px solid #003DB8;
      width: 200px;
      height: 400px;
      overflow: auto;
      float: left;
    }
    textarea {
      height: 16em;
      width: 50em;
    }
    
    .tileitem{
      height: 32px;
      width: 32px;
      float: left;
      margin: 2px;
    }
    #seltile {
      height: 32px;
      width: 32px;
      border: 1px solid green;
      xfloat: left;
    }
    #selInfo {
      float: left;
      
    }
    #selsettings label {
      clear:left;
    }
#evtoverlay {
  padding: 8px;
  background-color: tan;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 2px #000;
  -webkit-box-shadow: 2px 2px 2px #000;
}    

#evtoverlay label{
  display: inline-block;
  width: 6em;
  text-align: right;
}

.evtgriditemset {
  background-color: green;
}


